@font-face {
    font-family: sen;
    src: url(../fonts/Sen/Sen-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sen;
}

body::-webkit-scrollbar {
    width: .3em;
  }
   
  body::-webkit-scrollbar-thumb {
    background: rgb(108,93,210);
background: linear-gradient(0deg, rgba(108,93,210,1) 20%, rgba(108,93,210,1) 50%, rgba(127,108,253,1) 76%, rgba(171,159,255,1) 100%);
  }

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C5DD2;
    transition: .75s;
 
    scroll-snap-type: y proximity;
    overflow: hidden;
}

#video{
    scroll-snap-align: center;
    transition: .5s;
}

.loader-hidden{
    transition: 1.5s;
    overflow: hidden;
    opacity: 1;
    height: 0;
    visibility: hidden;
}

.vector-line{
    top: 41%;
    left: 15%;
    width: 85%;
    position: absolute;
    z-index: -1;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

nav.landpage-nav{
    display: flex;
    width: 100%;
    height: 95px;
    justify-content: space-between;
    align-items: center;
}

nav.landpage-nav img#logo-nav{
    margin-left: 10%;
    width: 4.7%;
}

nav.landpage-nav div.navbar-items ul{
    display: flex;
    text-decoration: none;
    align-items: center;
    list-style: none;
    gap: 6vw;
    margin-right: 6.3vw;
}

nav.landpage-nav div.navbar-items ul a{
    color:#636363;
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 400;
}

.active{
    color: #8E7EFB;
    font-weight: 600;
}

.hover-nav{
    transition: .5s;
}

.hover-nav:hover{
    color: #8E7EFB;
}

.download-nav{
    border:2px solid #383838;
    padding: .5em .8em;
    border-radius: 10px;
    box-shadow: 0 2px 1px #3a3a3a;
}

.download-nav:hover{
    color: #fafafa;
    background-color: #1e1e1e;
    box-shadow: 0 0px 14px #8E7EFB;
}

.dropbtn {
    border: none;
    background:none;
    margin-right: 1em;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: none;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 1em;
    margin-top: -3em;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* contact start */

.contacts-cont{
    margin-top: 3em;
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    gap: 1em;
}

.contacts-cont .contacts-wrap{
    display: flex;
    width: 85%;
    gap: 3em;
}

.contacts-cont .contacts-left-cont{
    width: 100%;
}

.contacts-cont .contacts-left-cont .contacts-left-content h1{
    width: 100%;
    font-size: 4rem;
}

.contacts-cont .contacts-left-cont .contacts-left-content{
    width: 100%;
}

.contacts-cont .contacts-right-cont{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.35%;
}


.qrc{cursor: pointer;}

.contacts-cont .contacts-right-cont .qrc h2{
    margin-top: .5em;
    font-size: 1.4rem;
    width: 76%;
}

.contacts-cont .contacts-right-cont .contacts-right-content1 .contact-wrap p{
    margin-left: 50px;
    font-weight: 500;
}

.contacts-cont .contacts-wrap .contacts-left-cont .contacts-left-content .cards .card-wrap .card{
    margin-top: 47px;
    width: 50%;
}

.contacts-cont .contacts-wrap .contacts-left-cont .contacts-left-content .cards .card input{
    border: none;
    outline: none;
    font-size: 21px;
    background-color: #E9E5FF;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

.contacts-cont .contacts-wrap .contacts-left-cont .contacts-left-content .cards{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.contacts-cont .contacts-wrap .contacts-left-cont .contacts-left-content .cards .card-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-cont .contacts-wrap .contacts-left-cont .contacts-left-content .cards .card textarea{
    border: none;
    outline: none;
    font-size: 21px;
    background-color: #E9E5FF;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin-top: 28px;
}

.contacts-cont .contacts-wrap .contacts-right-cont .contacts-right-content1{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contacts-cont .contacts-wrap .contacts-right-cont .contacts-right-content1 .contact-wrap{
    display: flex;
    outline: none;
    border: none;
}

.contacts-cont .contacts-wrap .contacts-right-cont .contacts-right-content1 .contact-wrap span{
    font-size: 40px;
}

.contacts-cont .contacts-wrap .contacts-right-cont .contacts-right-content1 .contact-wrap p{
    font-size: 25px;
}

.contacts-cont .contacts-wrap .contacts-right-cont .contacts-right-content1 .send-button{
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 0.1);
}

.contacts-cont .contacts-wrap .contacts-right-cont .contacts-right-content1 .send-button p{
    color: white;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    padding: 27px;
}

footer{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
}

footer a,
footer h1{
    color: #fafafa;
    text-decoration: none;
    margin-bottom: 1.5em;

}

footer .menu{
    padding-top: 7em;
}

.bot-foot{
    margin-top: 4em;
}

.sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

/* contact end */

@media only screen and (max-width: 767px) {
    .contacts-cont {
        margin-top: 5em; /* Sesuaikan margin-top sesuai kebutuhan */
        text-align: center;
    }

    .contacts-cont .contacts-wrap {
        flex-direction: column; /* Ubah tata letak menjadi tumpukan vertikal */
        align-items: center; /* Pusatkan item di tengah */
    }

    .contacts-cont .contacts-left-cont,
    .contacts-cont .contacts-right-cont {
        width: 100%; /* Konten menjadi penuh lebar */
    }

    .contacts-cont .contacts-wrap .contacts-left-cont .contacts-left-content .cards .card-wrap .card,
    .contacts-cont .contacts-wrap .contacts-left-cont .contacts-left-content .cards .card textarea {
        width: 100%; /* Kartu input dan textarea menjadi penuh lebar */
    }
    
    nav.landpage-nav .navbar-items{
        display: none; /* Sembunyikan menu navigasi utama */
    }    

    
    nav.landpage-nav img#logo-nav{
        width: 12%;
    }

    .sosmed{
        gap: 1em;
    }

    footer a,
    footer h1{
        font-size: 1.5rem;
    }

    .sosmed img{
        width: 70%;
    }

    .dropdown{
        display: inline-block;
    }

    .contacts-cont .contacts-wrap .contacts-right-cont .contacts-right-content1 .contact-wrap p{
        font-size: 1.3rem;
    }
    .contacts-cont .contacts-right-cont{
        width: 100%;
        
    }

    .contacts-cont .contacts-right-cont .qrc h2{
        font-size: 1rem;
    }

}