@font-face {
    font-family: sen;
    src: url(../fonts/Sen/Sen-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sen;
}

html{
    scroll-behavior: smooth;
    transition: 2s;
}

.go-top{
    width: 50px;
    height: 50px;
    background-color: #6C5DD2;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    left: 2%;
    cursor: pointer;
}

.go-top span{
    transform: scale(1.6);
    color: #fafafa;
}

body::-webkit-scrollbar {
    width: .3em;
  }
   
  body::-webkit-scrollbar-thumb {
    background: rgb(108,93,210);
background: linear-gradient(0deg, rgba(108,93,210,1) 20%, rgba(108,93,210,1) 50%, rgba(127,108,253,1) 76%, rgba(171,159,255,1) 100%);
  }

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C5DD2;
    transition: .75s;

    scroll-snap-type: y proximity;
    overflow: hidden;
}

#video{
    scroll-snap-align: center;
    transition: .5s;
}


.loader-hidden{
    transition: 1.5s;
    overflow: hidden;
    opacity: 1;
    height: 0;
    visibility: hidden;
}

.vector-line{
    top: 41%;
    left: 15%;
    width: 85%;
    position: absolute;
    z-index: -1;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

/* start nav */

nav.landpage-nav{
    display: flex;
    width: 100%;
    height: 95px;
    justify-content: space-between;
    align-items: center;
}

nav.landpage-nav img#logo-nav{
    margin-left: 10%;
    width: 4.7%;
}

nav.landpage-nav div.navbar-items{
    display: block;
}

nav.landpage-nav div.navbar-items ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 6vw;
    margin-right: 6.3vw;
}

nav.landpage-nav div.navbar-items ul a{
    color:#636363;
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 400;
}

.active{
    color: #8E7EFB;
    font-weight: 600;
}

a{
    text-decoration: none;
}

.hover-nav{
    transition: .2s;
}

.hover-nav:hover{
    color: #8E7EFB;
}

.download-nav{
    border:2px solid #383838;
    padding: .5em .8em;
    border-radius: 10px;
    box-shadow: 0 2px 1px #3a3a3a;
}

.download-nav:hover{
    color: #fafafa;
    background-color: #1e1e1e;
    box-shadow: 0 0px 14px #8E7EFB;
}

.dropbtn {
    border: none;
    background:none;
    margin-right: 1em;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: none;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 1em;
    margin-top: -3em;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* end nav */

.icon-nondrag{
    user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

/* Start Content */
.container{
    display: flex;
    width: 84%;
    margin:1.6em 6.75em 0 8em;
    gap: 5em;
}

/* start left  */

/* Start left 1 */

.container .left-side-wrap {
    width: 50vw;
}

.button:hover{
    background-color: #fafafa;
    color: #000000;
    border: 2px solud #000;
}

.container .left-side-wrap .left-side-items{
    display: block;
    width: 165%;
}

.container .left-side-wrap .left-side-items .left-item1{
    overflow: visible;
}

.left-item1 h1.title-land{
    font-size: 3.28rem;
    width: 110%;
    margin: 0;
    letter-spacing: .5px;
}

.left-item1 p{
    margin-top: 1.3em;
    font-size: 1.1rem;
    font-weight: 450;
    width: 80%;
}

.left-item1 .download{
    display: flex;
    width: 55%;
    gap: 1.3em;
    margin-top: 1.9em;
}

.left-item1 .download img{
    width: 47.4%;
}

/* end left 1 */

/* start left 2 */

.qoute{
    position: relative;
    z-index: -2;
}

.container .left-side-wrap .left-side-items .left-item2 {
    display: block;
    margin-top: 2.8em;
}

.container .left-side-wrap .left-side-items .left-item2 .qoute{
    width: 70%;
    background-color: #F4F4F4;
    border-radius: 10px;
}

.left-item2 .qoute .qoute-cont {
    padding: 1.6em;
    padding-bottom: 2em;
}

.left-item2 .qoute .qoute-cont .circle-qoute{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #6C5DD2;

}

.left-item2 .qoute .qoute-cont .circle-qoute img{
    width: 44%;
}

.left-item2 .qoute .qoute-cont P{
    font-size: 1.14rem;
    margin-top: 1em;
    font-weight: 4050;
    text-align: justify;
}

.left-item2 div.button{
    width: 70.8%;
    height: 4.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    color: #fafafa;
    margin-top: 1.4em;
    transition: .5s;
    cursor: pointer;
}

.download img:hover{
    cursor: pointer;
}


.left-item2 div.button:hover{
    background-color: #fafafa;
    color: #000;
    border: 2px solid #000;
}    

.left-item2 div.button p{
    font-size: 1.1rem;
}

.right-cont img.mockup{
    position: absolute;
    z-index: 2;
    margin-top: 3.8%;
    width: 32%;
    margin-left: 8.8%;
    filter: drop-shadow(20px 10px 10px rgba(43, 43, 43, 0.4));
    animation: bounce 10s infinite;
}

@keyframes bounce {
    0%{
        transform: translateY(-3%);
    }
    25%{
        transform: translateY(3%);
    }
    50%{
        transform: translateY(-3%);
    }
    75%{
        transform: translateY(3%);
    }
    100%{
        transform: translateY(-3%);
    }
}

/* end left item2 */

/* end left */

 .container .right-side-wrap{
    width: 100%;
    border-radius: 12px;
    
}

/*

  .container .right-side-wrap .right-cont img{
    position: absolute;
    left: 43.7%;
    top: 18%;
    width: 54.8%;
    filter: drop-shadow(30px 20px 30px #383838);
}

.gradient-back{
    width: 50%;
    height: 15%;
    background: linear-gradient(93.84deg, #6C5DD2 15.59%, #A094F0 52.73%, #463A96 100%),
linear-gradient(266.1deg, rgba(121, 78, 191, 0.2) 0%, rgba(0, 0, 0, 0) 98.6%);

} */
/*
.container .right-side-wrap .right-cont{
    text-align: center;
}
*/
.container .right-side-wrap .right-cont .gradient-back{
    width: 100%;
    position: relative;
    z-index: -2;
    top: 22.3em;
    min-height: 17em;
    background: linear-gradient(93.84deg, #6C5DD2 15.59%, #A094F0 52.73%, #463A96 100%),
linear-gradient(266.1deg, rgba(121, 78, 191, 0.2) 0%, rgba(0, 0, 0, 0) 98.6%);

    border-radius: 10px;
} 

/* end right side  */

/* end content  */

/* start vission */

div.main-vission{
    width: 100vw;
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.vission{
    width: 80%;
    text-align: center;

}

/* end vission */

/* start features */

.features-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.features-container .wrap-features{
    width: 85%;
}

.features-container .wrap-features .title-features .icon-and-Stitle{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.features-container .wrap-features .title-features .icon-and-Stitle img{
    background-color: #E0E0E0;
    padding: .3em;
    border-radius: 10px;
}

.highlight-word{   
    display: inline;
    padding: 0 2px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 50%, #8E7EFB 50%, #8E7EFB 100%);
}

.features-container:hover .features-container .highlight-word{
    animation: up-down 1s;
    animation-iteration-count:1;
}

.features-container .wrap-features .cards{
    margin-top: 4em;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
}

.features-container .wrap-features .cards .card{
    width: 47%;
    border: 5px solid #000000;
    border-bottom: 10px solid #000 ;
    border-radius: 24px;
    padding: 25px;
    height: 13em;
    transition: 1s;
    cursor: pointer;
}

.features-container .wrap-features .cards .card .left-card h2{
    font-size: auto;
}

.features-container .wrap-features .cards .card:hover{
    margin-top: -.5em;
    border-bottom: 15px solid #000;
}
.features-container .wrap-features .cards .card .left-card p{
    margin-top: 1em;
    font-size: 1.1rem;
    width: 100%;
}

.features-container .wrap-features .cards .card{
    display: flex;
    justify-content: space-between;
}

.features-container .wrap-features .cards .card .right-card{
    display: flex;
    justify-content: center;
}
.features-container .wrap-features .cards .card .right-card img{
    width: 80%;
    align-self: center;
    transition: .7s;
}

.features-container .wrap-features .cards .card:hover img{
    width: 85%;
}

.cards #card-2,
.cards #card-3{
    background-color: #1E1E1E;
    color: #F9F9F9;
}

.features-container .wrap-features .cards .card .left-card{
    width: 57.8%;
}

.left-card h2{
    display: inline;
    background-color: #8E7EFB;
    width: 10px;
    text-transform: capitalize;
}

.cards #card-2 .left-card h2,
.cards #card-3 .left-card h2{
    background-color: #fafafa;
    color: black;
    text-transform: capitalize;
}

.left-card h2{
    width: 10%;
}

/* features end */

/* quality start */

.quality-cont{
    margin-top: 10em;
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    gap: 1em;
}

.quality-cont .quality-wrap{
    display: flex;
    width: 85%;
    gap: 3em;
}

.quality-cont .left-cont{
    width: 42.5%;
}

.quality-cont .left-cont .quality-head{
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 500;
}


.quality-cont .left-cont .quality-left-content h1{
    width: 100%;
}

.quality-cont .left-cont .quality-left-content p{
    width: 73%;
    margin-top: .8em;
    font-weight: 500;
    font-size: 1.1rem;
}

.quality-cont .left-cont .quality-left-content{
    width: 100%;
}

.quality-cont .left-cont .quality-left-content .progress-wrap{
    margin-top: 3.3em
}

.prog-2{
    margin-top: 1.8em;
}

.quality-cont .left-cont .quality-left-content .progress-wrap .progress .progress-bar{
    width: 100%;
    height: 15px;
    background-color: #C1C1C1;
    border-radius: 10px;
    margin-top: -.8em;
}

.quality-cont .left-cont .quality-left-content  .progress-wrap .progress .progress-bar .progress-bar-content{
    height: 100%;
    background-color: #8E7EFB;
    border-radius: 10px;
}

.quality-cont .left-cont .quality-left-content  .progress-wrap .progress .progress-bar .progress-bar-content span{
    position: relative;
    left: 97%;
    bottom: 20px;
    font-size: .9rem;
}

.prog-dev{
    width: 0%;
    transition: 2.5s ease;
}

.prog-des{
    width: 0%;
    transition: 2.5s ease;
}

button.download-button{
    margin-top: 2.3em;
    padding: 10px 48px;
    border: none;
    font-size: 1.5rem;
    background: #151515;
    color: #fafafa;
    border-radius: 10px;
    border: 2px solid #151515;
    cursor: pointer;
    transition: .5s;
}

button.download-button:hover{
    background: none;
    color: #1f1f1f;
}

.quality-cont .right-cont{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.35%;
}

.right-cont .quality-right-content2{
    width: 50%;
}

.qrc-icon-1,
.qrc-icon-2,
.qrc-icon-3{
    display: flex;
    align-items: center;
}

.qrc-icon{
    width: 1.8em;
    margin-left: 1.6em;
    transition: .5s;
}

.qrc-1:hover .qrc-icon-1 img.qrc-icon{
    margin-left: .64em;
}

.qrc-2:hover .qrc-icon-2 img.qrc-icon{
    margin-left: .64em;
}

.qrc-3:hover .qrc-icon-3 img.qrc-icon{
    margin-left: .64em;
}

.qrc-icon-3 img.qrc-icon{
    width: 2.3em;
}

.qrc-round-ic{
    width: 2.7em;
    height: 2.7em;
    background-color: #8E7EFB;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: .5s;
}

.qrc-1:hover .qrc-icon-1 .qrc-round-ic{
    width: 3em;
    height: 3em;
}

.qrc-2:hover .qrc-icon-2 .qrc-round-ic{
    width: 3em;
    height: 3em;
}

.qrc-3:hover .qrc-icon-3 .qrc-round-ic{
    width: 3em;
    height: 3em;
}

.qrc{cursor: pointer;}

.quality-cont .right-cont .qrc h2{
    margin-top: .5em;
    font-size: 1.4rem;
    width: 76%;
}

.quality-cont .right-cont .qrc p{
    margin-top: .8em;
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
}

.quality-cont .right-cont .quality-right-content2 p{
    width: 90%;
}
.quality-cont .right-cont .quality-right-content2{
    margin-top: 3em;
}

/* end quality */

/* start customer */

.customer-cont{
    margin-top: 10em;
    display: flex;
    justify-content: center;
}

.customer-cont .customer-wrap{
    
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.customer-cont .customer-head{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.rating {
    margin-top: 4em;
    display: grid;
    justify-items: center;
}

.rating p{
    width: 37.5%;
    font-size: .9rem;
    color: #323232;
}

.view-count{
    content: '';
    width: 1000%;
}

.rating img.custo-prof{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1em;
}
.customer-cont .customer-wrap .customer-titleandparag p{ 
    width: 56.7%;
    margin-top: .6em;
    justify-self: center;
    
}
.customer-cont .customer-wrap .customer-titleandparag {
    
    display: grid;
    justify-content: center;
}

.rating-2{
    margin-top: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    width: 100vw;
}



/* end rating */

/* footer */
footer{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
}

footer a,
footer h1{
    color: #fafafa;
    text-decoration: none;
    margin-bottom: 1.5em;

}

footer .menu{
    padding-top: 7em;
}

.bot-foot{
    margin-top: 4em;
}

.sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

/* Existing styles */

/* New responsive styles */

@media only screen and (max-width: 768px) {
    .responsive-nav{
        display: block;
    }
    nav.landpage-nav div.navbar-items{
        display: none;
    }

    .left-item1 h1.title-land{
        font-size: 2rem;
    }

    .container{
        margin: 0;
    }

    .dropdown{
        display: inline-block;
    }

    .left-item1 p{
        font-size: 1rem;
        margin-left: 15%;
    }

    .left-item2 div.button{
        width: 100%;
        margin-left:1em;
    }

    .qoute{
        width: 100%;
    }

    .container .left-side-wrap .left-side-items .left-item2 .qoute{
        width: 100%;
    }

    div.main-vission{
        height: 50vh;
    }

    .features-container .wrap-features .cards{
        flex-direction: column;
    }

.features-container .wrap-features .cards .card{
    width: 100%;
}

.features-container .wrap-features .cards .card .left-card h2{
    font-size: 1.2rem;
    
}

.features-container .wrap-features .cards .card .left-card p{
    width: 110%;
    font-size: .8rem;
}

.features-container .wrap-features .cards .card .right-card img{
    width: 70%;
}

.features-container .wrap-features .cards .card{
    height: 15.5em;
}

    div.vission{
        width: 90%;
        font-size: .8rem;
    }

    .left-item1 .download{
        width: 100%;
        margin-left: 1em;
    }

    .left-side-wrap {
        flex-direction: column;
        left: 0;
    }

    .right-side-wrap {
        display: none;
    }

    .right-side-wrap.active {
        display: flex;
    }

    .left-item2 {
        margin-top: 20px;
    }

    .left-item2 .button {
        margin-top: 20px;
    }

    .main-vission {
        padding: 30px;
    }

    .features-container {
        padding: 30px;
    }

    .quality-cont{
        margin-top: 5em;
    }

    .quality-cont .quality-wrap{
        flex-direction: column;
    }

    .quality-cont .left-cont{
        width: 100%;
    }

    .prog-dev{
        width: 80%;
    }

    .prog-des{
        width: 90%;
    }

    .quality-cont .right-cont{
        flex-direction: column;
        width: 100%;
    }

    .right-cont .quality-right-content2{
        width:100%;
    }

    .customer-cont{
        margin-top: 30%;
    }

    .rating p{
        width: 80%;
    }


    .sosmed{
        gap: 1em;
    }

    footer a,
    footer h1{
        font-size: 1.5rem;
    }

    .sosmed img{
        width: 70%;
    }

    nav.landpage-nav img#logo-nav {
        margin-left: 5%;
        width: 50px; /* Sesuaikan ukuran logo untuk layar mobile */
    }

    nav.landpage-nav div.navbar-items {
        display: none; /* Sembunyikan menu navigasi utama */
    }

    .responsive-nav {
        display: block; /* Tampilkan ikon menu responsif */
    }

    .dropdown-content {
        top: 80px; /* Sesuaikan jarak menu dropdown dari atas */
        margin-right: 5%; /* Sesuaikan jarak dari sisi kanan */
    }
}

@media only screen and (max-width: 576px) {
    .container {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .left-item1 {
        text-align: center;
    }

    .vector-line {
        display: none;
    }
}
